.wrapper {
  display: flex;
  align-items: center;
  color: var(--mantine-color-white);
}

.icon {
  margin-right: var(--mantine-spacing-md);
  background-color: transparent;
}

.title {
  color: var(--mantine-color-blue-0);
}

.description {
  color: var(--mantine-color-white);
}


.logoCard:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
