.link {
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
  background-color: transparent;
  color: black;
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.link:hover {
  background-color: #4f8025;
  border-radius: 9999px;
  color: white;
}

.navbar {
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 9999px;
}

.navbar:hover {
  background-color: #4f8025;
  border-radius: 9999px;
  color: white;
}
